* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "REM", sans-serif;
}

.flex-r {
  display: flex;
  flex-direction: row;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.display {
  visibility: visible !important;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* / --------------------------------BOOK INPUT-------------------------------------- */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.add-new-book {
  position: absolute;
  visibility: hidden;
  top: 20%;
  left: 40%;
  z-index: 5;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
}

.input-container {
  margin-top: 5px;
}

.book-input {
  width: 100%;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* / --------------------------------BOOK LIST--------------------------------------- */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.booklist-title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
}

.book-cards {
  grid-template-columns: repeat(6, 1fr);
  flex-wrap: wrap;
}

.card {
  margin-right: 5px;
}

.book-card,
.add-new-book {
  border: 1px solid black;
  border-radius: 10px;
  width: 18rem;
  height: 20rem;
  padding: 20px;
  margin: 20px;
}

#add-new-read-book {
  width: 30px;
  height: 30px;
}
